@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Freelancer Web Sitesi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/websites/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/websites/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/websites/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/websites/assets/css/price_rangs.css">
    <link rel="stylesheet" href="~/websites/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/websites/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/websites/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/websites/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/websites/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/websites/assets/css/slick.css">
    <link rel="stylesheet" href="~/websites/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/websites/assets/css/style.css">

</head>

<body>

    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/websites/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                                            <li><a asp-controller="Project" asp-action="Index">İş İlanları</a></li>
                                            <li><a asp-controller="Project" asp-action="Index">İş İlanı Paylaşma</a></li>

                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="/Account/Register/" class="btn head-btn1">Register</a>
                                    <a href="/Account/Login/" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FreelancerWebSites - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/websites/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/websites/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/websites/assets/js/popper.min.js"></script>
    <script src="~/websites/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/websites/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/websites/assets/js/owl.carousel.min.js"></script>
    <script src="~/websites/assets/js/slick.min.js"></script>
    <script src="~/websites/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/websites/assets/js/wow.min.js"></script>
    <script src="~/websites/assets/js/animated.headline.js"></script>
    <script src="~/websites/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/websites/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/websites/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/websites/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/websites/assets/js/contact.js"></script>
    <script src="~/websites/assets/js/jquery.form.js"></script>
    <script src="~/websites/assets/js/jquery.validate.min.js"></script>
    <script src="~/websites/assets/js/mail-script.js"></script>
    <script src="~/websites/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/websites/assets/js/plugins.js"></script>
    <script src="~/websites/assets/js/main.js"></script>





</body>
</html>
