@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 500px;
            max-width: 100%;
            text-align: center;
        }

        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 12px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }

            button:hover {
                background-color: #45a049;
            }

        .validation-summary-errors {
            color: #dc3545;
            margin-bottom: 20px;
        }

        .field-validation-error {
            color: #dc3545;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form method="post">
        <div class="container">
            <h2>Login</h2>
            <hr />

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="validation-summary-errors">
                    <p>Geçersiz kullanıcı adı veya şifre.</p>
                </div>
            }

            <input type="email" id="email" name="Email" placeholder="Email" required>

            @if (ViewData.ModelState.TryGetValue("Password", out var passwordState) && passwordState.Errors.Count > 0)
            {
                <div class="field-validation-error">
                    <p>@passwordState.Errors[0].ErrorMessage</p>
                </div>
            }

            <input type="password" id="password" name="Password" placeholder="Şifrenizi Giriniz.." required>

            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
